{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deposit</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <a href="{% url 'create' %}">Deposit</a>
    <a href="{% url 'list-all' %}">View Clients</a>
    <h2>Deposit page</h2>
    <form method="POST">
        {%csrf_token%}
        {{form}}
        <button type="submit">save</button>
    </form>
</body>

</html>